example-workflow.json
{
  "name": "My workflow VISION",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "a7cfa90a-bf27-49a0-a646-4a345b61e22e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $json.sample_image }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        176
      ],
      "id": "b0b4aff1-f1ce-446f-8fd4-b4731b1913a7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0da1ec5b-dbca-41df-8cf0-842c7b8e0b66",
              "name": "sample_image",
              "value": "https://metalbyexample.com/wp-content/uploads/figure-65.png",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        80
      ],
      "id": "79fc2bd4-93e9-484b-b14d-62432807e319",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Get binary data from input item\nconst binaryData = items[0].binary;\n\n// Get the binary field name (default 'data')\nconst binaryPropertyName = 'data'; // Change this if your binary has a different name\n\n// Verify that binary exists\nif (!binaryData || !binaryData[binaryPropertyName]) {\n  throw new Error('Binary data not found in the specified field');\n}\n\n// Get the buffer from binary\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryPropertyName);\n\n// Convert to base64\nconst base64String = buffer.toString('base64');\n\n// Return the result\nreturn [\n  {\n    json: {\n      base64: base64String,\n      mimeType: binaryData[binaryPropertyName].mimeType,\n      fileName: binaryData[binaryPropertyName].fileName\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        272
      ],
      "id": "33942f35-c225-40c5-b234-6283520778e0",
      "name": "Binary to Base64"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "imageSource": "url",
        "imageUrl": "={{ $json.sample_image }}",
        "modelParameters": {},
        "advancedOptions": {}
      },
      "type": "CUSTOM.genericLlmVision",
      "typeVersion": 1,
      "position": [
        448,
        -16
      ],
      "id": "58c19ba4-f880-4b46-960e-57a71cbd6486",
      "name": "Generic LLM Vision (URL)",
      "credentials": {
        "genericLlmVisionApi": {
          "id": "I8oGRkKW1GlKbhWT",
          "name": "Generic LLM Vision - openrouter"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "modelParameters": {},
        "advancedOptions": {}
      },
      "type": "CUSTOM.genericLlmVision",
      "typeVersion": 1,
      "position": [
        672,
        80
      ],
      "id": "7bb41bbe-1546-439b-bf9b-9811163dc9e0",
      "name": "Generic LLM Vision (BINARY)",
      "credentials": {
        "genericLlmVisionApi": {
          "id": "I8oGRkKW1GlKbhWT",
          "name": "Generic LLM Vision - openrouter"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "imageSource": "base64",
        "base64Data": "={{ $json.base64 }}",
        "modelParameters": {},
        "advancedOptions": {}
      },
      "type": "CUSTOM.genericLlmVision",
      "typeVersion": 1,
      "position": [
        896,
        272
      ],
      "id": "d9e84ea5-12ce-4fec-b8de-6d06461e91db",
      "name": "Generic LLM Vision (BASE 64)",
      "credentials": {
        "genericLlmVisionApi": {
          "id": "I8oGRkKW1GlKbhWT",
          "name": "Generic LLM Vision - openrouter"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Generic LLM Vision (BINARY)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Binary to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generic LLM Vision (URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Base64": {
      "main": [
        [
          {
            "node": "Generic LLM Vision (BASE 64)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "aee85d5b-695f-4c20-8904-ca517c26679f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de418e501bf89674ab9c4074f5c315fac72e6a5e9a84ca669315e1a91d4a9ee6"
  },
  "id": "cWzuHcUdIXYL2vXSYSw1y",
  "tags": []
}